@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, */
@media only screen and (max-width: 1280px) {
  html {
    font-size: 11.377px;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 8px;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
