/* colors */

/* background */
.blackBg {
    background: #0D0D0D
}

.lightBlackBg {
    background: rgba(13, 13, 13, 0.5);
}

.smallIconsBg {
    background: #F3F3F3;
}

.searchBg {
    background: #1F1F1F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.headerBar {
    background: linear-gradient(95.91deg, #665AEF 6.04%, #FC364C 88.42%);
}

.mainBg {
    background: linear-gradient(15.74deg, rgba(46, 45, 102, 0.6) -2.5%, rgba(58, 39, 63, 0.6) 47.55%, #181818 90.7%);
   /*  transform: rotate(-180deg); */
}

.subHeaderBg {
    background: url('/subHeaderMaskImg.svg'), url('/ellipse.svg');
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.caroselBg {
    background: rgba(13, 13, 13, 0.5);
}

.caroselDarkBg {
    background: #0D0D0D;
}
/* text colors */

.light1 {
    color: #F7F7F7;
}

.whity {
    color: #FFFFFF;
}

.searchTextColor {
    color: #A2A2A2;
}

.accordionBg {
    background: rgba(13, 13, 13, 0.5);
}

/*  Typography   */

.psText {
    font-family: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

.fontTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
}

.font_13_18 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #A2A2A2;
}

.font_15_20 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
}

.font_16_20 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    text-align: center;
    color: #F3F3F3;
}

.font_16_400 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.font_16_800 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.font_14_19 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.font_13_23 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    text-align: center;
    color: #8E8B8F;
}

/* Media queries */
